<p>Google maps</p>
<form>
  <label><input type="radio" name="mode" value="info" class="typeBox">Information</label>
  <label><input type="radio" name="mode" value="dir" class="typeBox">Directions</label>
  <label><input type="radio" name="mode" value="oth" class="typeBox">others</label>
</form>
<div class="mapContainer"></div>
<div class="detailsContainer">
  <img src="" class="detailsImg">
  <h1 class="details"></h1>
  <p class="details"></p>
</div>
<div class="directionsContainer">
  <div class="firstLocation">
    <h1 class="firstLocation"></h1>
    <p class="firstLocationLat"></p>
    <p class="firstLocationLong"></p>
  </div>
  <div class="secondLocation">
    <h1 class="secondLocation"></h1>
    <p class="secondLocationLat"></p>
    <p class="secondLocationLong"></p>
  </div>
  <p class="distance"></p>
</div>